<div class='result-container'>
  <span class="star-word"><%= "#{selected_star.word}" %></span>
  <span class= "star-name">〜<%= "#{selected_star.name}" %>〜</span>
</div>


<%# turbo_frame用に作ってみたけど、今は使用してない%>