<turbo-stream action="replace" target="form-frame">
  <template>
    <div class='result-container'>
      <span class="star-word"><%= "#{@selected_star.word}" %></span>
      <span class="star-name">〜<%= "#{@selected_star.name}" %>〜</span>
    </div>
  </template>
</turbo-stream>