<div class="display-wrapper">
  <div class="display-container">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <h2 class="gradation lato">Now Loading...</h2>
    </div>

    <div class="title title-hidden">
    <span class='gradation'>Stargazing</span>
    </div>

    <div class="text-container">
    <%= render 'shared/text_container' %>


    </div>
  </div>
</div>

<%= render 'shared/form' %>

<%= render 'shared/next_button' %>



<div class="star-hidden">
  <%= render 'shared/star_background' %>
</div>

<%# このページが読み込まれた際に発火させるjsはnew.jsに記載 %>