<div class="form-container">
  <%= form_with model: @star, id: 'contact', html: { autocomplete: 'off'} do |f| %>
    <div class="form-title lato gradation">Stargazing</div>
    <div class="form-description yomogi-regular">
      <div class="description-0 form-description-hidden form-description-visible">
        下の欄から、順番に入力していってね。<br><br>

      【ご注意】<br>
        ※入力した内容は他の方に届きます。<br>
        不快に思うような内容は控えください。
      </div>

      <div class="description-1 form-description-hidden">
        あなたが好きな言葉、心に響く言葉を教えてね。<br>
        偉人の名言やことわざ、あなた自身の言葉でも大歓迎！！<br>
        <br>
        (150字以内)
      </div>

      <div class="description-2 form-description-hidden">
        素敵な言葉だね。なんの言葉かな？？<br><br>
        例えば…<br>
        "太宰治「人間失格」より", "ことわざ", <br>
        あなたのニックネームなどなど…。<br>
        わからない場合、"どこかでみた言葉"とかでもOK!
      </div>

      <div class="description-3 form-description-hidden">
        入力に間違いがなければ、一番下のボタンを押してね。
      </div>
    </div>
      <%= f.text_area :word, class: "word-input", placeholder: '例：天才とは1％のひらめきと99％の努力である', required: true, minlength: 2, maxlength: 150 %>
      <div class="word-param">※150字以内</div>
      <%= f.text_field :name, class: "name-input", placeholder: '例：トーマス・エジソン', required: true, maxlength: 30 %>
      <div class="name-param">※30字以内</div>
      <%= f.submit 'Please fill out...', id: 'contact-submit', data: { submit: '...Sending' } %>
  <% end %>
</div>