<div class="loading-area lato">
    <span class='gradation'>l</span>
    <span class='gradation'>o</span>
    <span class='gradation'>a</span>
    <span class='gradation'>d</span>
    <span class='gradation'>i</span>
    <span class='gradation'>n</span>
    <span class='gradation'>g</span>
    <span class='gradation'>.</span>
    <span class='gradation'>.</span>
    <span class='gradation'>.</span>
</div>

<%#

使用スタイルの該当ファイル先一覧
---
loading-area: _loading.scss
lato: _title.scss
gradation: _gradation.scss

%>