<div class="menu-icon-container">
  <div class="menu-icon-1 menu-icon-hidden">
  <i class="fa fa-eye"></i>
  </div>
  <div class="menu-icon-2 menu-icon-hidden">
  <i class="fa fa-star"></i>
  </div>
  <div class="menu-icon-3 menu-icon-hidden">
    <%= link_to "https://twitter.com/intent/tweet?url=https://www.stargazing.jp/&text=夜空に向かって素敵な言葉を。%0aあなたと誰かの言葉を交わすアプリ。%0a%0a", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
      <i class="fa-brands fa-x-twitter" style='color: #FFFFFF;'></i>
    <% end %>
  </div>
</div>