<div class="menu-icon-container">
  <div class="menu-icon-1 menu-icon-hidden">
  <i class="fa fa-eye"></i>
  </div>
  <div class="menu-icon-2 menu-icon-hidden">
  <i class="fa fa-star"></i>
  </div>
</div>