<div class="arrow-container">
  <%= link_to new_star_path do %>
    <div class="arrow-2">
      <i class="fa fa-rotate-left"></i>
    </div>
  <% end %>
  <div class="arrow-1 return-zoom"></div>
</div>