<div class="svgall">
  <svg class="mask" viewBox="0 0 798.457 243.622" id="move">
    <defs>
      <!-- アニメーション画像 -->
      <mask id="clipMask">
        <!--マスクのpath-->
        <path class="st0" d="M108.359,73.168c-.545,5.178-2.174,13.775-7.759,22.455-3.173,4.932-17.162,24.716-38.241,22.545-13.58-1.399-28.459-11.74-30-24-2.729-21.7,34.238-44.599,62-53,12.038-3.643,23.859-4.262,47.5-5.5,34.892-1.827,61.513.761,61.5,1.5-.01.537-14.13-2.181-30,3-15.074,4.921-26.559,14.677-40,31-29.324,35.61-23.512,48.498-47,74-7.492,8.135-34.444,37.398-56,30-14.633-5.022-24.005-25.987-19-32,9.977-11.986,66.642,47.995,110,30,19.87-8.247,20.02-25.845,63-105,16.393-30.191,33.115-58.467,34-58,2.33,1.228-93.176,207.933-100,205-3.936-1.692,27.153-70.763,61-100,4.71-4.068,13.786-11.76,19-9,5.235,2.771,6.297,15.931,1,25-7.185,12.302-21.561,9.356-26,20-3.567,8.555,1.006,21.762,8,24,0,0,6.483,2.074,42-36,4.281-18.118,16.623-31.595,32-35,8.782-1.945,19.481-.809,20,2,1.025,5.545-39.465,7.581-52,33-6.738,13.663-4.607,32.478,3,36,9.208,4.263,25.833-14.164,32-21,28.126-31.176,36.554-68.791,36-69-14.623-5.518-11.551,29.047-17.5,43.5-16.076,39.057-17.999,44.546-16.5,45.5,6.114,3.889,61.319-73.199,65-70,.033.029.178.342.218.719,0,0,.054.506-.157,1.04-.425,1.077-48.087,88.772-50.061,87.241-1.393-1.08,33.365-36.213,54-69,1.384-2.199,6.691-10.722,17-16,6.965-3.566,18.063-6.814,21-3,2.897,3.762-4.095,11.85-15.5,32.5-10.157,18.391-17.473,31.638-14.5,34.5,3.892,3.747,26.924-8.86,45-28,30.193-31.972,24.115-53.521,55-95,16.811-22.578,37.185-41.136,40-39,2.832,2.149-12.376,26.91-42.792,76.431-10.782,17.555-19.774,32.159-32.948,51.81-22.073,32.926-33.109,49.388-34.26,48.758-3.355-1.839,17.787-71.591,61-83,8.449-2.231,20.23-2.93,22,1,0,0,1.62,3.598-29.5,31.5-1.675,30.144,2.58,37.233,6.5,38.5,9.386,3.033,19.065-26.6,51-48,30.716-20.583,66.163-22.924,68.5-17.5,1.818,4.219-17.214,11.257-32.5,35.5-7.833,12.423-16.051,31.568-11,36,4.835,4.242,22.413-7.034,34-17,30.373-26.125,40.14-60.935,40-61-.164-.077-26.209,42.408-44,88-1.477,3.785-4.077,10.615-10,18-12.471,15.549-36.005,28.984-58,23-9.374-2.55-22.773-9.799-23-19-.121-4.916,3.491-11.516,22-21,49.564-25.396,74.473-4.108,105-26,16.36-11.733,14.168-21.405,43-44,17.419-13.65,29.39-18.874,30-18,1.283,1.836-49.279,28.199-46,55,.813,6.645,4.98,13.678,11,16,13.463,5.192,36.241-13.164,45-33,16.54-37.455-13.718-87.453-15-87-1.576.556,17.433,85.528,41.5,86.5,18.19.735,37.396-46.592,34.5-48.5-3.533-2.328-51.576,55.273-41.5,68.5,3.043,3.995,11.048,3.496,19,3,0,0,14.552-.907,27.5-9.5,27.102-17.985,39.845-73.38,34-76-5.892-2.641-56.291,77.775-41,93,4.81,4.789,14.822,1.828,21,0,38.117-11.275,62.767-60.766,54.5-69.5-6.615-6.988-39.598,6.532-149,89"/>
      </mask>
    </defs>
    <!-- ベース画像 -->
    <image xlink:href="<%= asset_path('hand-writing-thank.svg') %>" width="100%" height="100%" mask="url(#clipMask)"></image>
  </svg>
</div>

<script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>