<div class="yomogi-regular">
  <div class="text1-hidden">夜空を眺めてると、素敵なこと呟きたくなるよね</div>
  <div class="text2-hidden">あなたが好きな言葉、教えて欲しいな。</div>
  <div class="text3-hidden">私が星に届けてあげる。</div>
  <%# ここから結果画面 %>
  <div class="text4-hidden">ありがとう、ちょっと待っててね。</div>
  <div class="text5-hidden">あなたの言葉、ちゃんと星に届いたよ。</div>
  <div class="text6-hidden">お礼に、他の星を見せてあげる。</div>
</div>