    <div class="yomogi-regular">
      <div class="text1-hidden">夜空を眺めてると名言呟きたくなるよね…</div>
      <div class="text2-hidden">素敵な言葉を星に届けるお仕事をしてるんだ。</div>
      <div class="text3-hidden">あなたの好きな名言とか、教えて欲しいな。</div>
      <div class="text4-hidden">好きな言葉をここに込めてみて</div>
      <div class="text5-hidden">素敵な言葉だね…誰の言葉なのかな？</div>
      <%# ここから結果画面 %>
      <div class="text6-hidden">ありがとう、ちょっと待っててね。</div>
      <div class="text7-hidden">あなたの言葉、ちゃんと星に届いたよ。</div>
      <div class="text8-hidden">お礼に、他の星を見せてあげる。</div>
      <div class="text9-hidden">また遊びに来てね。</div>
    </div>