<div class="yomogi-regular">
  <%# ここから結果画面 %>
  <div class="text4-hidden">ありがとう、ちょっと待っててね。</div>
  <div class="text5-hidden">あなたの言葉、ちゃんと星に届いたよ。</div>
  <div class="text6-hidden">お礼に、他の星を見せてあげる。</div>
</div>