.form-container {
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  @media (max-width: 500px) {
    max-width: 400px;
  }
}

// formの外枠部分
#contact {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  //opacity: 0.9;
  padding: 25px;
  //backdrop-filter: blur(9px);
  border-radius: 10px;

  .form-title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 200;
		margin-bottom: 20px;
    //文字の幅をもう少し開ける
    letter-spacing: 1px;
  }

  .form-description {
    margin: 10px 0;
    padding-top: 10px;
    font-size: 15px;
    color: #cecece;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    opacity: 0.6;
    line-height: 1.5;
    height: 150px;
    position: relative;

    .description-0,
    .description-1,
    .description-2,
    .description-3 {
      position: absolute;
    }
  }

// formの説明欄変更用
  .form-description-hidden {
    opacity: 0;
    //下に下がるアニメーションをつける
    @keyframes slide-down{
      0% {
        transform: translateY(0%);
      }
      100% {
        transform: translateY(100%);
      }
      }
    animation: slide-down 0.6s;
    // ここでtransitionをallで設定してる場合でも、実質かかってるのはopacityだけ。
    transition: all 0.6s;
  }

  .form-description-visible {
    opacity: 1;
    @keyframes slide-up{
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0%);
      }
      }
    animation: slide-up 0.6s;
    transition: all 0.6s;
  }

  .word-input,
  .name-input {
    width: 100%;
    border: 2px solid #38495abc;
    background: #ffffffdc;
    margin: 10px 0 0 0;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
    font-size: 16px;


    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      outline-color: #38495abc;
      // アウトラインをデフォルトよりも細くする
      outline-width: 0.5px;
    }
  }

  .word-input {
    height: 100px;
    resize: none;
    // 勝手な改行を入れないようにする
    line-break: anywhere;
    // テキストエリアを超えて改行できないようにする
    overflow: hidden;
    white-space: break-spaces;
  }

  #contact-submit {
    width: 100%;
    border: none;
    background: #38495abc;
    color: #FFF;
    margin: 20px 0 0;
    padding: 25px 10px;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    // activeでない状態での透明度、うっすらした感じ
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
  }

  // #contact-submitにsubmit-buttonがついた時(登録ボタンが有効になった)のスタイル
  // contact-submitにネストで登録してしまうと.submit-button-activeが小要素
  // として適用されてしまうから、チェーンで繋ぐような感じ
  #contact-submit.submit-button-active {
    opacity: 1;
    cursor: pointer;
    text-transform: uppercase;
    //box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #6786a6bc;
    }

    &:active {
      transform: scale(0.99);
      transition: all 0.2s;
    }
  }
}

::placeholder {
  color: #888;
}

.word-param,
.name-param {
  color: #cecece9c;
  font-size: 12px;
  margin-bottom: 5px 0;
}

.form-visible {
  visibility: visible;
  opacity: 1;
  transition: all 2s;
  transition-delay: 2s;
}

.form-hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 2s;
}