// サンプルとして使用するタイトルのフォントのスタイル

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // 文字の色を白にするためのスタイル
  color: #FFF;
  // これを指定しないと、要素の中で文字が左寄りになってるため、中央に配置する。
  text-align: center;
  //ここで'Lato'を指定することで、Google Fontsからダウンロードしたフォントを使用してる
  font-family: 'Lato', sans-serif;
  // font-weightとfont-sizeの指定
  font-weight: 300;
  font-size: 9rem;
  // 文字間隔を指定してる
  letter-spacing: 10px;
  // 初めはopacityを0にして、見えないようにする。=>jsでopacitiyを1にすることで、見えるようにする
}

.title-visible {
  opacity: 1;
  transition: all 5.0s;
  transition-delay: 1s;
}

.title-hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 1.0s;
  transition-delay: 0.6s;
}

