@import 'reset';
@import 'background';
@import 'title';
@import 'gradation';
@import 'text';
@import 'loading';
@import 'form';
@import 'spotify';

.result-container {
  display: flex;
  flex-direction: column;
  //1行の最大幅を画面幅の70%にしたい
  width: 70vw;

  .star-word {
    font-size: 4rem;
  }

  .star-name {
    font-size: 1.7rem;
    margin-left: 40%;
    margin-top: 1rem;
  }
}
